*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    text-decoration: none;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  ul{
    list-style: none;
  }
  

  body{
    background-color: #ccd5ae;
    width: 100%;
    height: 100%;
  }


  h1{
    font-size: 3rem;
  }

  .hero{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  canvas{
    position: relative;
    z-index: 0;
  }

  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: flex;
    width: 95%;
    justify-content: space-between;
  }

  nav ul{
    display: flex;
    width: 100px;
    justify-content: space-between;
    gap: 15px;
  }

  a{
    color: #faedcd;
  }

  .main__title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
    color: #faedcd;
  }

  .hero__text{
    width: 95%;
  }

  .sub__title{
    display: flex;
    justify-content: space-between;
  }

  .separator{
    width: 100%;
    height: 5px;
    background-color: #e9edc9;
    margin-top: 1rem;
  }

  .desc{
    position: absolute;
    bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .desc p {
    grid-column:  1 /span 3;
  }

  .splash__screen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .splash__screen.complete{
    pointer-events: none;
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #faedcd;
    transition: transform 1s;
  }

  .left.active{
    transform: translateX(-100%);
    border-right: 1px solid #e9edc9;
  }


  .right {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #faedcd;
    transition: transform 1s;
  }

  .right.active{
    transform: translateX(100%);
    border-right: 1px solid #e9edc9;
  }

  .prograss__bar{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0%;
    width: 3px;
    background-color: #ccd5ae;
    transition: height 1s;
  }

  .prograss__bar.complete{
    opacity: 0;
  }

  .perrcentage{
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: #d4a373;
  }